<div id="addToDo">
  <button><i class="fa fa-plus fa-1x" aria-hidden="true" (click)="addTodo()" ></i></button>
  <input placeholder="Text todo">
</div>
<ul class="toDoList">

  <li *ngFor="let item of todoList">
    <div class="todo">
      <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox">
      <label for="checkbox-3" class="checkbox-custom-label"></label>
      <span>Kill menegers and testirovtik</span>
      <div class="statusEveryday">Everyday</div>
      <div class="statusDayLeft">10 days left</div>
      <div class="statusImportant">1 day left</div>
    </div>
  </li>
</ul>
