
<ul class="toDoList">
  <li *ngFor="let todo of todoList">
    <div class="checkbox-root">
      <input [checked]="todo.complete" id="checkbox-{{todo.id}}" class="checkbox-custom"
             [(ngModel)]="todo.complete" type="checkbox" (click)="completeTodo(todo)">
      <label for="checkbox-{{todo.id}}"><span class="checkbox"></span> </label>
    </div>
    <div class="todo" tabindex="1" id="todo-{{todo.id}}" [class.selected]="todo.select" (focus)="selectTodo(todo)"
         (blur)="blurTodo(todo)">
      <input disabled [(ngModel)]="todo.caption" maxlength="250" type="text"
             [class.todo-complete]="todo.complete"/>
      <button (click)="removeTodo(todo)" class="btn-remove fa fa-remove "></button>
      <div *ngIf="todo.type == 1" class="statusEveryday">Everyday</div>
      <div *ngIf="todo.type == 2" [ngClass]="getClassForLabel(todo.date)"> {{getTime(todo.date)}}</div>
      <!--<div class="statusImportant">1 day left</div>-->
    </div>
  </li>
</ul>
