$size-cell: 110px;


.cell {
  background: #3F51B5;
  width: $size-cell;
  margin-left: 10px;
  margin-top: 10px;
  height: $size-cell;
  float: left;
  display: block;
  color: white;
  border: 1px solid #2f3949;

  .null {
      background: #4CAF50;
  }

  .todo {
      background: #8C9EFF;
  }

}

