$width-cell: 110px;
$height-cell: 40px;

.calendar {
  margin-left: 60px;

  .left {
    float: left;
  }
  .right {
    float: right;
  }

  .button {
    cursor: pointer;
  }

  .year-month {
    text-align: center;
  }

  .cal-table {
    .row-dayWeek td {
      width: $width-cell;
      text-align: center;
      height: $height-cell;
      background: #673AB7;
      border: 1px solid #222125;
    }
  }
}
