<div class="calendar">

  <table class="cal-table" cellspacing="0">
    <tr>
      <td class="left button">
        <button (click)="changeDate(PREVIOUS_YEAR)"><<</button>
        <button (click)="changeDate(PREVIOUS_MONTH)"><</button>
      </td>
      <td colspan="5" class="year-month">{{currentYear}} {{currentMonth.name}}</td>
      <td class="right button">
        <button (click)="changeDate(NEXT_MONTH)">></button>
        <button (click)="changeDate(NEXT_YEAR)">>></button>
      </td>
    </tr>
    <tr class="row-dayWeek">
      <td>Sunday</td>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(0,7)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(7,14)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(14,21)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(21,28)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(28,35)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
  </table>
</div>
