<div class="calendar">

    <table class="cal-table" cellspacing="5">
      <tr>
        <td  class="left button"> &lang;</td>
        <td colspan="5" class="year-month">{{year}}</td>
        <td  class="right button">&rang;</td>
      </tr>
      <tr class="row-dayWeek">
        <td>Sunday</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
      </tr>
    <tr>
      <td *ngFor="let cell of getCell(1,8)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(8,15)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(15,22)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(22,29)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    <tr>
      <td *ngFor="let cell of getCell(27,34)">
        <calendar-cell [callCell]="cell"></calendar-cell>
      </td>
    </tr>
    </table>
  </div>
