@mixin left($left) {
  left: $left + 200px;
}

#headerTodo {
  width: 100%;
  height: 50px;
  background-color: #354052;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .logo {
    float: left;
    font-size: 30px;
    font-weight: 400;
    color: #63aac7;
    display: block;
    margin-top: 5px;
    margin-left: 25px;
    cursor: pointer;
    border-bottom: 1px solid;
    width: 50px;
  }


  .clock {
    float: left;
    display: block;
  }


}



